<?xml version='1.0' standalone='yes'?>
<configuration>
	<apis>
		<tmdb>9e6d6fd0c929169a985e709141dab305</tmdb>
		<upc>bbef0d39300f88da751a1b799b25b14daa6e7fcb</upc>
	</apis>
	<database>
		<server>localhost</server>
		<port>3306</port>
		<username>process</username>
		<password>vQ%B6cSzWrdCq9x</password>
		<database>collectem_dev</database>
	</database>
	<library>
		<per_page>21</per_page>
		<pagination>2</pagination>
	</library>
</configuration>